{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Beauty City</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap" rel="stylesheet">

    {% block link %}
	{% endblock %}
</head>
<body>
	<section id="mobMenu">
			<div class="mobMenu">
				<div class="container">
				<div class="mobMenu__header">
					<div class="row">
						<div class="col-4 col-md-3">
							<a href="/">
								<img src="{% static 'img/Logo.svg' %}" alt="Logo" class="logo header__logo">
							</a>
						</div>
						<div class="col-3 col-md-2">
							<img src="{% static 'img/x.svg' %}" alt="x" class="mobMenuClose">
						</div>
					</div>
				</div>
				<div class="mobMenu__content">
					<div class="row">
						<div class="col-md-3">
							<nav>
								<ul class="mobMenu__menu">
									<li class="mobMenu__menu_item">
										<a href="#" class="mobMenu__menu_link">Мастера</a>
									</li>
									<li class="mobMenu__menu_item"><a href="{% url 'service' %}" class="mobMenu__menu_link">Услуги</a></li>
									<li class="mobMenu__menu_item"><a href="#" class="mobMenu__menu_link">Отзывы</a></li>
									<li class="mobMenu__menu_item"><a href="#" class="mobMenu__menu_link">Контакты</a></li>
								</ul>
							</nav>
							<a href="{% url 'notes' %}" class="mobMenu__account">Личный кабинет</a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<button class="mobMenu__btn">Перезвоните мне</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<header id="header">
		<div class="container">
			<div class="header">
				<div class="row">
					<div class="col-2 col-md-2 mob">
						<img src="{% static 'img/hamburger.svg' %}" alt="hamburger" class="header__mobMenu">
					</div>
					<div class="col-5 col-md-3 col-lg-2">
						<a href="/">
							<img src="{% static 'img/Logo.svg' %}" alt="Logo" class="logo header__logo">
						</a>
					</div>
					<div class="col-md-5 ">
						<nav>
						<ul class="menu">
							<li class="menu__item"><a href="{% url 'index' %}#masters" class="menu__item_link">Мастера</a></li>
							<li class="menu__item"><a href="{% url 'index' %}#services" class="menu__item_link">Услуги</a></li>
							<li class="menu__item"><a href="{% url 'index' %}#reviews" class="menu__item_link">Отзывы</a></li>
							<li class="menu__item"><a href="{% url 'index' %}#contacts" class="menu__item_link">Контакты</a></li>
						</ul>
					</nav>
					</div>
					<div class="col-2 col-md-2 col-lg-3">
						<div class="header__block">
						<a href="tel:+79179023800"><button class="header__block_btn">Перезвоните мне</button></a>
						<div class="header__block_auth">
							<img src="{% static 'img/acc.svg' %}" alt="account" class="header__account_img">
							{% if user.is_authenticated %}
								<span class="header__block_auth__intro">Личный кабинет</span>
							{% else %}
								<span class="header__block_auth__intro">Войти</span>
							{% endif %}
						</div>
					</div>
					</div>
				</div>



			</div>
		</div>
	</header>
    {% block content %}
	{% endblock %}
	<footer id="footer">
		<div class="container">
			<div class="footer">
				<div class="footer__block">
					<div class="row">
						<div class="col-md-3 col-lg-2">
							<a href="/"><img src="{% static 'img/Logo.svg' %}" alt="logo" class="footer__logo"></a>
						</div>
						<div class="col-md-5 minMobHide">
							<nav>
								<ul class="menu">
									<li class="menu__item"><a href="{% url 'index' %}#masters" class="menu__item_link">Мастера</a></li>
							<li class="menu__item"><a href="{% url 'index' %}#services" class="menu__item_link">Услуги</a></li>
							<li class="menu__item"><a href="{% url 'index' %}#reviews" class="menu__item_link">Отзывы</a></li>
							<li class="menu__item"><a href="{% url 'index' %}#contacts" class="menu__item_link">Контакты</a></li>
								</ul>
							</nav>
						</div>
					</div>
					<div class="footer__contact">
						<div class="row">
							<div class="col-md-4">

									<div class="footer__data">с 10:00 до 20:00  без выходных</div>

							</div>
							<div class="col-md-3">
								<a href="tel:+79179023800" class="contacts__info_tel">+7 (917) 902 38 00</a>
							</div>
						</div>
						<div class="row">
							<div class="col-md-5 minMobShow">
								<nav>
									<ul class="menu">
										<li class="menu__item"><a href="{% url 'index' %}#masters" class="menu__item_link">Мастера</a></li>
										<li class="menu__item"><a href="{% url 'index' %}#services" class="menu__item_link">Услуги</a></li>
										<li class="menu__item"><a href="{% url 'index' %}#reviews" class="menu__item_link">Отзывы</a></li>
										<li class="menu__item"><a href="{% url 'index' %}#contacts" class="menu__item_link">Контакты</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
					<hr class="hr"></hr>
					<div class="footer__bottom">
						<div class="row">
							<div class="col-md-4 col-lg-3">
								<a href="#" class="footer__link">Политика конфиденциальности</a>
							</div>
							<div class="col-md-3">
								<div class="footer__copy">2022. Все права защищены</div>
							</div>
							<div class="col-md-3 col-lg-2">
								<div class="footer__social fic">
									<a href=""><img src="{% static 'img/waGray.svg' %}" alt="wa" class="contacts__social_icon"></a>
									<a href=""><img src="{% static 'img/vkGray.svg' %}" alt="vk" class="contacts__social_icon"></a>
									<a href=""><img src="{% static 'img/tgGray.svg' %}" alt="tg" class="contacts__social_icon"></a>
									<a href=""><img src="{% static 'img/instaGray.svg' %}" alt="insta" class="contacts__social_icon"></a>
								</div>
							</div>
						</div>



					</div>

				</div>
			</div>
		</div>
	</footer>
	<div style="display: none;">
    <div class="box-modal authPopup popup" id="authModal">
        <div class="box-modal_close arcticmodal-close"><img src="{% static 'img/x.svg' %}" alt="x"></div>
        <div class="popup__title authPopup__title">Войти по коду</div>
        <p class="popup__text authPopup__text">Введите свой номер телефона, мы вышлем на него код</p>
        <form class="authPopup__form" method="post">
            {% csrf_token %}
            <div class="contacts__form_inputBlock">
                {{ phone_form.phone }}
            </div>
            <div class="contacts__form_checkboxBlock fic">
                {{ phone_form.consent }}
                <span class="contacts__form_checkboxBlock__intro">
										Я согласен(а) с политикой конфиденциальности
										<a href="{% static 'file.pdf' %}" target="_blank"> (Политика конфиденциальности)</a>
								</span>
            </div>
            <button type="submit" class="popup__btn authPopup__btn">Отправить</button>
        </form>
    </div>
	</div>
	<div style="display: none;">
			<div class="box-modal confirmPopup popup" id="confirmModal">
					<div class="box-modal_close arcticmodal-close"><img src="{% static 'img/x.svg' %}" alt="x"></div>
					<div class="popup__title confirmPopup__title">Подтвердите номер</div>
					<p class="popup__text confirmPopup__text">Введите код, полученный по SMS на номер <span id="confirmPhoneNumber">+7 (928) 164 48 60</span></p>
					<form method="post">
							{% csrf_token %}
							<div class="confirmPopup__number">
									{{ pin_form.pin }}
							</div>
							<button type="submit" class="popup__btn authPopup__btn">Отправить</button>
					</form>
					<div class="confirmPopup__sms">Если SMS не пришло вы можете <a href="#" class="popup__link">запросить код повторно</a></div>
					<div class="confirmPopup__changeNumber">
							<a href="#" class="confirmPopup__link popup__link">Изменить номер телефона</a>
					</div>
			</div>
	</div>
	<script>
        document.addEventListener('DOMContentLoaded', function () {
            const isAuthenticated = "{{ user.is_authenticated|yesno:'true,false' }}";
            console.log('User is authenticated:', isAuthenticated);

            document.querySelector('.header__block_auth').addEventListener('click', function (e) {
                e.preventDefault();
                if (isAuthenticated === 'true') {
                    window.location.href = '/account';
                } else {
                    $('#authModal').arcticmodal();
                }
            });
        });
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	{% block script %}
    {% endblock %}
