{% extends 'base.html' %}
{% load static %}
{% load salon_tags %}
{% block link %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="{% static 'css/jquery.arcticmodal-0.3.css' %}">
	<link rel="stylesheet" href="{% static 'css/simple.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}
<section id="notes">
  <div class="container">
    <div class="notes">
      <div class="row">
        <!--                                Sidebar                            -->
        {% include 'notes/sidebar.html' %}
        <!-- __________________________________________________________________________________________ -->

        <!--                                Записи                                                      -->
        <div class="col-md-12 col-lg-7">
          <!--              Надпись                 -->
          <div class="notes__main">
            <div class="notes__title">Мои записи</div>
            <hr class="hr">
          </div>
          <!-- ___________________________________  -->
          <!--             Предстоящие Записи       -->
          {% if f_notes %}
          <div class="notes__content notes__content_upcoming">
            <div class="notes__main_title">ПРЕДСТОЯЩИЕ</div>
            {% for note in f_notes %}
              {% get_note  note %}
            {% endfor %}
          </div>
          {% endif %}
          {% if p_notes %}
          <div class="notes__content notes__content_history">
            <div class="notes__main_title">ПРОШЕДШИЕ</div>
            {% for note in p_notes %}
              {% get_note  note %}
            {% endfor %}
          </div>
          {% endif %}
        </div>

      </div>
    </div>
  </div>
</section>

<!--                      Форма для чаевых                                                       -->
<div style="display: none;">
  <div class="box-modal tipsPopup popup" id="tipsModal">
    <div class="box-modal_close arcticmodal-close"><img src="{% static 'img/x.svg' %}" alt="x"></div>
    <div class="">
      <div class="popup__title tipsPopup__title">Чаевые</div>
      <form class="tipsPopup__form" method="POST" action="https://yoomoney.ru/quickpay/confirm">
        <div class="tipsPopup__form_intro popup__intro">Введите сумму чаевых</div>
        <input type="hidden" name="receiver" value="4100118760636728"/>
        <input type="hidden" name="label" value="tips:{{ note.id }}"/>
        <input type="hidden" name="quickpay-form" value="button"/>
        <input type="hidden" name="successURL" value="https://ziganshinproject.ru"/>
        <input type="hidden" name="paymentType" value="AC"/>
        <input type="text" class="tipsPopup__form_input popup__input" placeholder="0.00" required="" name="sum">
        <button class="tipsPopup__btn popup__btn">Далее</button>
      </form>
      <form action="#" class="tipsPopup__form">


      </form>
    </div>
  </div>
</div>
<!-- _______________________________________________________________________________________  -->

<!--                      Форма для отзыва                                                    -->
<div style="display: none;">
  <div class="box-modal reviewPopup popup" id="reviewModal">
    <div class="box-modal_close arcticmodal-close"><img src="{% static 'img/x.svg' %}" alt="x"></div>
    <div class="popup__title reviewPopup__title">Отзыв</div>
    <form action="#" class="reviewPopup__form">
      <input type="text" name="fname" class="paymentPopup__form_input popup__input" placeholder="Введите имя"
             required="">
      <div class="contacts__form_inputBlock">
        <input type="text" name="tel" class="contacts__form_iunput" placeholder="+7(999)999--99-99" required="">
      </div>
      <input type="text" name="dateVis" class="paymentPopup__form_input popup__input" placeholder="Дата посещения"
             required="">
      <textarea name="popupTextarea" class="reviewPopup__form_textarea" placeholder="Текст отзыва"></textarea>
      <div class="contacts__form_checkboxBlock fic">
        <input type="checkbox" class="contacts__form_checkbox" checked="">
        <span class="contacts__form_checkboxBlock__intro">Я согласен(а) с политикой конфидециоальности</span>
      </div>
      <button class="tipsPopup__btn popup__btn">Оплатить</button>
    </form>
  </div>
</div>
{% endblock %}
<!-- _______________________________________________________________________________________  -->
{% block script %}
<script src="{% static 'js/air-datepicker.js' %}"></script>
<script src="{% static 'js/jquery.arcticmodal-0.3.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}


