{% extends 'base.html' %}

{% load static %}

{% block link %}
	<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css.map">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css.map"> -->
	<link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/air-datepicker.css' %}">
	<script src="{% static 'js/air-datepicker.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}
{% block content %}
	<section id="service">
		<div class="container">
			<div class="service">
				<div class="breadCrumbs">
					<a href="{% url 'index' %}" class="breadCrumbs__item">На главную</a>
				</div>
				<div class="service__block">
					<h1 class="service__title">Запись на услугу</h1>
					<button class="service__btn btn">Запись по телефону</button>
				</div>
				
				<form action="#" class="service__form">
					<!-- <select name="selectSalon" id="" class="service__form_select">
						<option value="" selected>(Выберите салон)</option>
						<option value="salon1" >Салон 1</option>
						<option value="salon2" >Салон 2</option>
						<option value="salon3" >Салон 3</option>
					</select> -->
					<div class="service__form_block service__salons">
						<button class="accordion">(Выберите салон)</button>
						<div class="panel">
							{% for salon in salons %}
								<div class="accordion__block fic">
									<div class="accordion__block_intro">{{ salon.title }}</div>
									<div class="accordion__block_address">г.{{ salon.address.city }}, ул.{{ salon.address.street }}, д.{{ salon.address.house }}</div>
								</div>
							{% endfor %}
						</div>
					</div>
					<div class="service__form_block service__services">
						<button class="accordion">(Выберите услугу)</button>
						<div class="panel">
							{% for category in categories %}
								<button class="accordion">{{ category }}</button>
								<div class="panel">
									{% for service in category.services.all %}
									<!-- <div class="accordion__block_intro">Макияж</div> -->
										<div class="accordion__block_items">
											<div class="accordion__block_item fic">
												<div class="accordion__block_item_intro">{{ service.name }}</div>
												<div class="accordion__block_item_address">{{ service.price }} ₽</div>
											</div>
									  </div>
									{% endfor %}
								</div>
							{% endfor %}
						</div>
					</div>
					<div class="service__form_block service__masters">
						<button class="accordion">(Выберите мастера)</button>
						<div class="panel">
							<!--{% for master in masters %}
							    <div class="accordion__block fic">
									<div class="accordion__block_elems fic">
									    <img src="{% static 'img/masters/avatar/pushkinskaya/1.svg' %}" alt="avatar" class="accordion__block_img">
										<div class="accordion__block_master">{{ master.name }}</div>
										<div class="accordion__block_prof">{{ master.profession  }}</div>
									</div>
								</div>
							{% endfor %}-->
						</div>



					</div>

				</form>
			</div>
		</div>
	</section>
	<section id="time">
		<div class="container">
			<div class="time">
				<h2 class="time__title">Выберите время</h2>
				<div class="time__block">
					<div class="row">
						<div class="col-md-4">
							<div id="datepickerHere"></div>
						</div>
						<div class="col-md-8">
							<div class="time__elems">
								<div class="time__items">
									<div class="time__elems_intro">Утро</div>
									<div class="time__elems_elem fic">
										<button data-time="10:00" class="time__elems_btn">10:00</button>
										<button data-time="10:30" class="time__elems_btn">10:30</button>
									</div>
								</div>
								<div class="time__items">
									<div class="time__elems_intro">День</div>
									<div class="time__elems_elem fic">
										<button data-time="12:00" class="time__elems_btn">12:00</button>
										<button data-time="12:30" class="time__elems_btn">12:30</button>
										<button data-time="15:00" class="time__elems_btn">15:00</button>
										<button data-time="16:30" class="time__elems_btn">16:30</button>
									</div>
								</div>
								<div class="time__items">
									<div class="time__elems_intro">Вечер</div>
									<div class="time__elems_elem fic">
										<button data-time="17:00" class="time__elems_btn">17:00</button>
										<button data-time="18:30" class="time__elems_btn">18:30</button>
										<button data-time="19:00" class="time__elems_btn">19:00</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="time__btns">
					<div class="row">
						<div class="col-md-12">
							<button  class="time__btns_next">Далее</button>
							<button  class="time__btns_home">На главную</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
{% block script %}
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}